.checklist {
  width: 800px;
  max-width: calc(100% - 4em);
  padding: 1em 2em;
  margin: 0 2em;
  background: #F4F1E4;
  border-radius: 50px;
  box-sizing: border-box;
}
.checklistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checklistItem {
  margin: 0;
  padding: .6em 0;
}
.checklistItem + .checklistItem {
  border-top: 2px dashed #ECA9B1;
}
.checklistLabel {
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.checklistLabel:hover {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, .4); 
  background: rgba(255, 255, 255, .4); 
}
.checklistCheckbox:checked + .checklistText {
  text-decoration: line-through;
}