.creaturesSwitch {
  display: inline-flex;
  background: #FFF;
  padding: .2em;
  border-radius: 50px;
}
.creaturesSwitchButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: #FACB61;
  font-size: .8em;
  font-family: Quicksand;
  margin: .1em;
  vertical-align: middle;
  text-decoration: none;
}
.creaturesSwitchButtonActive {
  background: #FACB61;
  color: #FFF;
}