.museumSwitch {
  display: inline-flex;
  background: #fff;
  padding: 0.2em;
  border-radius: 50px;
  margin-bottom: 1em;
}
.museumSwitchButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: #facb61;
  font-size: 0.8em;
  font-family: Quicksand;
  margin: 0.1em;
  vertical-align: middle;
  text-decoration: none;
}
.museumSwitchButtonActive {
  background: #facb61;
  color: #fff;
}
