.layout {
  background: #f3f1e3
    radial-gradient(88% 16% at 50% 0%, #d9cda7 71%, #f3f1e3 70%) no-repeat 50%
    50% / 100% 100%;
  background-size: 100% calc(env(safe-area-inset-top, 0) * 4 + 780px);
  background-position: top;
}

.updatesButton {
  display: inline-block;
  margin: 20px auto;
}

.nookIcon {
  margin: 20px auto;
}
