.layout.layout {
  background: #5bd1f5;
  padding-bottom: 10em;
}
.layout:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/assets/waves.svg");
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: bottom;
  pointer-events: none;
}
