.songs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  max-width: calc(100% - 2em);
  margin: 1em;
  gap: 0.75em;
}
.songsItem {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: none;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.songsItem:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}
.songsItemActive .songsItemImage {
  border-width: 6px;
}
.songsItemImage {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-width: 0;
  border-image: repeating-linear-gradient(
      45deg,
      #fcfd49,
      #fcfd49 6px,
      #fee605 6px,
      #fee605 12px
    )
    6;
  border-style: solid;
  transition: border 0.3s ease-in-out;
  box-sizing: border-box;
}
.songsItemName {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(2, 174, 185, 0.75);
  padding: 0.5em 1em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.songsItemActive .songsItemName {
  background: #fcfd49;
  color: var(--text-color);
  left: 5px;
  right: 5px;
  bottom: 5px;
}
