/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/quicksand-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/quicksand-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand-v20-latin-600.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/quicksand-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/quicksand-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quicksand-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quicksand-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quicksand-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quicksand-v20-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
:root {
  --text-color: #40332D;
}

body {
  margin: 0;
  font-family: 'Quicksand';
  color: var(--text-color);
  border-radius: 10px;
}
a,
button {
  outline: none;
}
h1 {
  text-align: center;
}
.ios-peek {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  top: 0;
  background: url('/assets/nook.jpg'), linear-gradient(#B3E8CC 30%, #D0D856 60%);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 75px); /* height - menu */
  border-radius: 10px;
  padding-bottom: 2em;
  padding-top: calc(env(safe-area-inset-top) - 1.3em);
  box-sizing: border-box;
}
a.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0 .6em;
  height: 2.75em;
}
.button {
  background: #7B8FCE;
  font-family: Quicksand;
  border-radius: 15px;
  height: 3em;
  border: 2px solid #7B8FCE;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
}
.buttonSecondary {
  background: #D8CCAB;
  border-color: #D8CCAB;
  color: var(--text-color);
}
.buttonDanger {
  background: tomato;
  border-color: tomato;
}
.input {
  font-size: 1em;
  height: 3em;
  border: 2px solid var(--text-color);
  font-family: Quicksand;
  border-radius: 15px;
  padding: .3em .6em;
  outline: none;
  appearance: none;
}
.input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.checkbox {
  appearance: none;
  display: inline-block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: #FFF;
  border-radius: 8px;
  vertical-align: middle;
  margin: 0;
  margin-right: 1em;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  outline: none;
  border: 0;
}
.checkbox:checked {
  /* background: #6B9F62; */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E") center no-repeat, #6B9F62;
}
/* Input file */
.fileArea {
  display: block;
  width: 100%;
  position: relative;
  margin: 1em 0;
}
.fileArea input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.fileArea .fileDummy {
  display: block;
  width: 100%;
  padding: 30px;
  background: #FACB61 url('/assets/pattern-grid-2x.png');
  background-size: 200px;
  background-position: center;
  border-radius: 30px;
  text-align: center bottom;
  transition: background .2s ease-in-out;
  box-sizing: border-box;
}
.fileArea .fileDummy .fileSuccess {
  display: none;
}
.fileArea:hover .fileDummy {
  background-size: 400px;
}
.fileArea input[type=file]:focus + .fileDummy {
  outline: 2px solid rgba(255,255,255,0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.fileArea input[type=file]:valid + .fileDummy {
  background-color: rgba(107, 159, 98, 0.5);
}
.fileArea input[type=file]:valid + .fileDummy .fileSuccess {
  display: inline-block;
}
.fileArea input[type=file]:valid + .fileDummy .fileDefault {
  display: none;
}
/* End input file */

.textCenter {
  text-align: center;
}